#head{
    margin-top: 10px;
    font-family: fantasy;
}
body {
  background: linear-gradient(
    45deg,
    rgb(65, 89, 208) 0%,
    rgb(200, 79, 192) 50%,
    rgb(255, 205, 112) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#display{
    margin-left: 30%;
    margin-top: 10%;
    width: 50%;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    color: black;
   font-weight: 600;
   font-family: monospace;
}
#btn{
     margin-left: 50%;
     margin-top: 10%;
      box-shadow: 0px 0px 10px rgb(249, 249, 253);
}
#cpybtn{
    background: none;
    border: none;
    font-size: 25px;
}
