

#heading{
    text-align: center;
    width:400px;
    height:400px;
    background-color: blueviolet;
    border-radius: 30px;
}
#questionTab{
    width:400px;
    height:200px;
    border-radius: 10px;
    background-color: aqua;
}

.opt{
    padding: 20px 0 20px 20px;
   
}
#sub{
    background-color:#67f567;
    text-align: center;
    margin-left: 70px;
    margin-top: 30px;
}