#h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#temp{
    width:300px;
    height: 60px;
    text-align: center;
    margin-left: 20%;
    font-size: 40px;

    
}
#weather_card{
    background-color: rgb(147, 232, 232);
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    width: 500px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
#input{
    width:250px;
    height:40px;
    margin-left: 20px;
    border-radius: 40px;
    text-align: center;
    font-size: 30px;
    background-color: burlywood;
}

#btn{
    border: none;
    font-size: 30px;
    background-color: white;
}

#loc,#country,#weat_body,#humidity_body,#time_body,#temp{
    color: blue;
}
#loc_inp,#country_name,#weather_type,#humidity,#time{
    color: rgb(175, 3, 254);
}