.calculator{
    padding: 15px;
    text-align: center;
    background-color: rgb(215, 102, 250);
    width: 180px;
    height:200px;
    border-radius: 30px;
    box-shadow:0 0 60px rgb(242, 255, 0);

}
button{
    padding: 5px;
    width:30px;
    height:30px;
    margin:5px;
    border-radius: 50%;
    background-color: aquamarine;
}

#display{
    background-color: rgb(183, 130, 232);
    border-radius:  10px 10px;
    padding: 10px;
}
button:active{
    opacity: 0.2;
    background-color: aqua;
    box-shadow: 0 0 10px black;
}