#Body{
    background-color: rgb(5, 153, 216);
    margin: 20px;
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    width:300px;
    height:300px;
     box-shadow: 10px 10px 10px black;
}
#result{
    text-align: center;
    background-color:burlywood;
    padding: 10px;
    border-radius: 100px;
    width:200px;
    border:2px solid black;
    margin: 30px;
    margin-top: 50px;    
}
button{
    background-color: yellowgreen;
    border-radius: 5px;
    padding: 5%;
}
button:hover{   background-color: azure;   }
#inc{   border-radius: 30px 0 0 30px;   }
#dec{   border-radius: 0 30px 30px 0;   }
#inc,#dec{
    width: 120px;   margin-left: 10px; }
#rst{
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 80%;
    margin-top: 30px;;}
button:active{
    background-color: darkgreen;
    color: aliceblue;
}