#ToDo{
    background-color: pink;
    width:50%;
    height: 500px;
    border-radius: 30px;
    padding: 10PX;
}
#header{
    color:darkslateblue;
    background-color: #f5deb3;
    display:block;
   border-radius: 30px;
}
#eachTask{
    color:purple;
    margin: 10px 0;
    font-size: 20PX;
}
#addItem{
    color: brown;
    border-radius: 40px;
    padding: 5px;
}
#btn{
    padding: 5px;
    color: blue;
}
button:hover{
    opacity: 10px;
}
